@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}
/* styling for blog body */
.blog-body h1 {
  @apply text-xl md:text-2xl lg:text-[2rem] my-2 font-bold;
}
.blog-body h2 {
  @apply text-lg md:text-xl my-2 font-bold;
}
.blog-body h3,
.blog-body h4,
.blog-body h5,
.blog-body h6 {
  @apply font-bold my-2;
}
.blog-body p {
  @apply my-3.5;
}
.blog-body p code {
  background-color: #f5f2f0;
  font-family: monospace;
  border-radius: 5px;
  color: #fb2c36;
  padding: 0px 5px;
  text-decoration-line: none !important;
  font-size: 14px !important;
}
.blog-body a {
  color: #06b6d4;
  text-decoration-line: underline;
}

.blog-body p:first-child {
  margin-top: 0;
}

.blog-body p:last-child {
  margin-bottom: 0;
}
.blog-body pre code {
  line-height: normal;
  font-size: 15px !important;
}
.blog-body pre:has(code) {
  border-radius: 8px !important;
  width: 100%;
  overflow-x: auto;
  line-height: normal;
  font-size: 15px !important;
  border: 1px solid #ccc !important;
}

.blog-body pre:not(:has(code)) {
  border-radius: 8px !important;
  width: 100%;
  white-space: pre-wrap;
  line-height: normal;
  color: #000;
  font-size: 15px !important;
  background-color: #f2f2f2 !important;
  padding: 1em;
  border: 1px solid #ccc !important;
}

#blog-body ul,
#blog-body ol {
  @apply pl-4;
}
#blog-body ul li,
#comment-body ul li {
  list-style: square !important;
  padding-left: 4px;
}
#blog-body ol li {
  list-style: decimal !important;
}

#comment-body ul {
  @apply !pl-4 sm:!pl-6 md:!pl-8;
}
#comment-body a {
  @apply text-cyan-500 cursor-pointer hover:underline break-words whitespace-pre-wrap;
}

#comment-body img {
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 8px;
}
#comment-body img {
  @apply max-w-full max-h-40 h-auto sm:w-auto;
}

#blog-body img {
  width: 100%;
  height: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  color: #000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
#blog-body table,
#blog-body iframe {
  margin-top: 2px;
  border-radius: 5px !important;
  display: block;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* style for blog tag */

.highlight-link-0 {
  @apply md:hover:bg-purple-50 md:hover:border-purple-400;
}
.highlight-link-0 span {
  @apply text-purple-600;
}
.highlight-link-1 {
  @apply md:hover:bg-green-50 md:hover:border-green-400;
}
.highlight-link-1 span {
  @apply text-green-500;
}
.highlight-link-2 {
  @apply md:hover:bg-cyan-50 md:hover:border-cyan-400;
}
.highlight-link-2 span {
  @apply text-cyan-600;
}
.highlight-link-3 {
  @apply md:hover:bg-pink-50 md:hover:border-pink-400;
}
.highlight-link-3 span {
  @apply text-pink-600;
}
/* style for tags in other pages */

.highlight-tag-0 span {
  @apply text-purple-600;
}

.highlight-tag-1 span {
  @apply text-green-500;
}

.highlight-tag-2 span {
  @apply text-cyan-600;
}

.highlight-tag-3 span {
  @apply text-pink-600;
}
