@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.avatar {
  @apply rounded-full w-8 h-8 md:w-10 md:h-10 shadow-md mr-6;
}
.menu-item {
  @apply flex items-center gap-4 px-3 py-2 hover:text-blue-600 text-base md:text-xl rounded-md hover:bg-gray-200;
}

.navigation {
  @apply md:text-xl font-bold cursor-pointer hover:bg-slate-300 hover:rounded-lg p-2 px-4 md:gap-5;
}
.navigation__footer {
  @apply text-sm md:text-xl font-bold cursor-pointer hover:underline hover:text-blue-600 p-2 px-4;
}

label {
  @apply font-bold;
}

.blog-input-field {
  @apply mb-3 bg-transparent p-2 w-full border-b-2 border-blue-500 disabled:border-gray-400 text-black;
}
.blog__icons {
  @apply py-2 text-xl md:text-2xl font-bold cursor-pointer hover:text-blue-500 flex items-center gap-2;
}
.trimmed-blog-body img {
  display: none;
}

/* css for skeleton loaders */
.skeleton {
  background: linear-gradient(
    90deg,
    hsl(0, 1%, 60%),
    hsl(0, 1%, 75%),
    hsl(0, 1%, 60%)
  );
  background-size: 200% 100%;
  animation: skeleton-loading 3s linear infinite alternate;
}

/* keyframes for the animation */
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* styling for blog body */
.blog-body h1 {
  @apply text-2xl my-2 font-bold;
}
.blog-body h2,
h3,
h4 {
  @apply font-bold;
}
.blog-body p {
  margin: 14px 0;
}
.blog-body p:first-child {
  margin-top: 0;
}

.blog-body p:last-child {
  margin-bottom: 0;
}
/* styling for sweetalert */
.swal2-popup {
  @apply !font-poppins;
}
