@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans+Nushu&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  box-sizing: border-box;
}

input[type="search"]:not(:placeholder-shown):invalid {
  @apply bg-red-100;
}
input[type="password"]:not(:placeholder-shown):invalid + .label {
  @apply text-red-500;
}
input[type="password"]:not(:placeholder-shown):invalid {
  @apply bg-red-100;
}
input[type="password"]:not(:placeholder-shown):valid {
  @apply bg-green-100;
}
input[type="email"]:not(:placeholder-shown):invalid + .label {
  @apply text-red-500;
}
input[type="email"]:not(:placeholder-shown):invalid {
  @apply bg-red-100;
}
input[type="email"]:not(:placeholder-shown):valid {
  @apply bg-green-100;
}
input[id="username"]:not(:placeholder-shown):invalid + .label {
  @apply text-red-500;
}
input[id="username"]:not(:placeholder-shown):invalid {
  @apply bg-red-100;
}
input[id="username"]:not(:placeholder-shown):valid {
  @apply bg-green-100;
}

.avatar {
  @apply rounded-full w-8 h-8 md:w-10 md:h-10 shadow-md mr-6;
}
.menu-item {
  @apply flex items-center gap-4 px-3 py-2 hover:text-blue-600 text-base md:text-xl rounded-md hover:bg-gray-200;
}
.menu-item-active {
  @apply text-blue-600 bg-gray-200;
}

.navigation {
  @apply md:text-xl font-bold cursor-pointer hover:bg-gray-200 hover:rounded-md hover:text-blue-500 hover:underline py-1 px-4 md:gap-5;
}
.navigation__footer {
  @apply text-sm md:text-xl font-bold cursor-pointer hover:underline hover:text-blue-600 p-2 px-4;
}

label {
  @apply font-bold;
}

.blog-input-field {
  @apply bg-transparent p-2 w-full placeholder-shown:font-bold border-b  border-black disabled:border-gray-400 text-black;
}
.blog__icons {
  @apply py-2 text-xl md:text-2xl font-bold cursor-pointer hover:text-blue-500 flex items-center gap-2;
}
.trimmed-blog-body img {
  display: none;
}

/* css for skeleton loaders */
.skeleton {
  background: linear-gradient(
    90deg,
    hsl(0, 1%, 60%),
    hsl(0, 1%, 75%),
    hsl(0, 1%, 60%)
  );
  background-size: 200% 100%;
  animation: skeleton-loading 3s linear infinite alternate;
}

/* keyframes for the animation */
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* styling for blog body */
.blog-body h1 {
  @apply text-xl my-2 font-bold;
}
.blog-body h2,
h3,
h4 {
  @apply font-bold;
}
.blog-body p {
  margin: 14px 0;
}
.blog-body p {
  margin: 14px 0;
}
.blog-body a {
  color: #1e40af;
  text-decoration: underline;
}
.blog-body p:first-child {
  margin-top: 0;
}

.blog-body p:last-child {
  margin-bottom: 0;
}
.blog-body pre code {
  border-radius: 8px !important;
  width: 100%;
  background-color: #f2f2f2 !important;
  white-space: pre-wrap;
  line-height: normal;
  font-size: 15px !important;
}

.blog-body pre:not(:has(code)) {
  border-radius: 8px !important;
  width: 100%;
  white-space: pre-wrap;
  line-height: normal;
  font-size: 15px !important;
  background-color: #f2f2f2;
  padding: 1em;
}

#blog-body ul,
#blog-body ol {
  @apply xsm:!pl-4 !pl-6 md:!pl-8;
}
#blog-body ul li,
#comment-body ul li {
  list-style: square !important;
}

#comment-body ul {
  @apply xsm:!pl-4 !pl-6 md:!pl-8;
}
#comment-body a {
  @apply text-blue-500 cursor-pointer hover:underline;
}

#blog-body table,
#blog-body iframe {
  margin-top: 2px;
  border-radius: 5px !important;
  display: block;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
/* styling for sweetalert */
.swal2-popup {
  @apply !font-poppins;
}

div.online-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;

  background-color: #0fcc45;
  border-radius: 50%;

  position: relative;
}
span.blink {
  display: block;
  width: 10px;
  height: 10px;

  background-color: #0fcc45;
  opacity: 0.7;
  border-radius: 50%;

  animation: blink 1s linear infinite;
}

/* styling for arrow down indicator */
div.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #789ae4;
}

/* animation for border */

@keyframes blink {
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

#dashboard-page table tr:nth-child(even) {
  background-color: #cffafe;
  border-bottom: 1px solid #a4e2f3;
}
#dashboard-page table tr:nth-child(odd) {
  border-bottom: 1px solid #a4e2f3;
}
#dashboard-page table tr:nth-child(even) {
  @apply hover:bg-[#c4ecf7];
}

/*  css styles for modal */
.modal {
  transition: top 0.4s, opacity 0.4s;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* style for quill editor */

.ql-syntax {
  background-color: #f2f2f2;
  padding: 5px;
  font-weight: 100;
  font-size: 12px;
}

/* style for like animation */
.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  position: relative;
  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.heart:hover {
  background-position: right;
}

.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}

.placement {
  margin: 0;
  position: relative;
}
.placement .content {
  position: absolute !important;
  left: 70% !important;
  bottom: 35%;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
/* styling for bookmark icon */
.bookmark-icon {
  transition: transform 0.2s ease-in-out;
}

.bookmark-icon:hover {
  transform: scale(1.1);
}

.bookmark-icon-clicked {
  animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
